[submodule "cpp/cs106l-assignments"]
	path = cpp/cs106l-assignments
	url = git@github.com:virtualguard101/cs106l-assignments.git
[submodule "os/ostep-code"]
	path = os/ostep-code
	url = git@github.com:virtualguard101/ostep-code.git
[submodule "os/unix"]
	path = os/unix
	url = git@github.com:virtualguard101/unix.git
[submodule "ai/agent/cc-demo"]
	path = ai/agent/cc-demo
	url = git@github.com:Windy3f3f3f3f/claude-code-from-scratch.git
[submodule "ai/dl/coursera-dl"]
	path = ai/dl/coursera-dl
	url = git@github.com:virtualguard101/coursera-dl.git
[submodule "ai/ml/coursera-ml"]
	path = ai/ml/coursera-ml
	url = git@github.com:virtualguard101/coursera-ml.git
[submodule "ai/dl/ForyoClassifierCNN"]
	path = ai/dl/ForyoClassifierCNN
	url = git@github.com:virtualguard101/ForyoClassifierCNN.git
