[submodule "os/ostep-code"]
	path = os/ostep-code
	url = git@github.com:virtualguard101/ostep-code.git
[submodule "ai/dl/ForyoClassifierCNN"]
	path = ai/dl/ForyoClassifierCNN
	url = git@github.com:virtualguard101/ForyoClassifierCNN.git
[submodule "lang/cpp/cs106l"]
	path = lang/cpp/cs106l
	url = git@github.com:virtualguard101/cs106l-assignments.git
[submodule "network/netdiy"]
	path = network/netdiy
	url = git@github.com:virtualguard101/netdiy.git
[submodule "infrastructure/cuda/cuda-learning"]
	path = infrastructure/cuda/cuda-learning
	url = git@github.com:virtualguard101/cuda-learning.git
[submodule "network/netstack/references"]
	path = network/netstack/references
	url = git@github.com:google/netstack.git
[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:virtualguard101/wiki.git
[submodule "ecos/cs61c"]
	path = ecos/cs61c
	url = git@github.com:virtualguard101/cs61c.git
[submodule "ecos/cs110"]
	path = ecos/cs110
	url = https://github.com/virtualguard101/cs110.git
