[submodule "os/ostep-code"]
	path = os/ostep-code
	url = git@github.com:virtualguard101/ostep-code.git
[submodule "ai/dl/ForyoClassifierCNN"]
	path = ai/dl/ForyoClassifierCNN
	url = git@github.com:virtualguard101/ForyoClassifierCNN.git
[submodule "cca/nand2tetris"]
	path = cca/nand2tetris
	url = git@github.com:virtualguard101/Nand2Tetris.git
[submodule "lang/cpp/cs106l"]
	path = lang/cpp/cs106l
	url = git@github.com:virtualguard101/cs106l-assignments.git
[submodule "cca/cs61c"]
	path = cca/cs61c
	url = git@github.com:virtualguard101/cs61c.git
